.app {
    background: #f1f1f1; 
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-areas: 
    "area-cabecalho"
    "area-conteudo"
    "area-rodape";
    grid-template-columns: auto;
    grid-template-rows: 50px auto auto;
}

.cabecalho {
    align-items: center;
    display: flex;
    grid-area: area-cabecalho;
    padding: 0 2rem;
}

.conteudo {
    grid-area: area-conteudo;
    padding: 0 2rem;
}

.rodape{
    background: #fdfdfd;
    color: #333;
    font-size: .8rem;
    grid-area: area-rodape;
    padding: 1rem;
    text-align: center;
} 